{% extends 'base.html' %}
{%block title %} Profiles {% endblock%}
{% load static %}
{%block content %}
    <div class="container">
        <div class="profile">
            <div class="info row justify-content-center align-items-center">
                <div class="profile-img text-center col-12 col-sm-2">
                    {% if profile.image.url is not none %}
                    <img src="{{profile.image.url}}" alt="{{profile.user.username}}'s image ">
                    {% else%}
                    <img src="{% static 'images/zaitouna_icon.svg' %}" class="rounded-circle avatar" alt="Default Profile Photo">
                    {% endif %}
                </div>
                <div class="col-12 col-sm-4">
                    <h1>{{profile.user.username}}</h1>
                    <p><strong>Joined :</strong>{{ profile.user.date_joined|date:'d M Y'}}</p>
                </div>
                <div class="col-12 col-sm-2">
                    <p><strong>Added Recipes :</strong>{{ profile.user.recipe_owner.count}}</p>
                    <p><strong>Bookmarked Recipes :</strong>{{ profile.user.bookmarks.count}}</p>
                </div>
                <div class="col-12 col-sm-3">
                    <p>About </p>
                    {% if profile.bio %}
                    {{profile.bio | safe}}
                    {% endif %}
                </div>
                <div class="col-12 col-sm-1 edit">
                    {% if request.user == profile.user %}
                    <a href="#" class="share-icon me-3" data-bs-toggle="modal" data-bs-target="#edit-profile"><i class="fa-regular fa-pen-to-square"></i></a>
                    {% endif %}
                </div>




            </div>

            <div class="profile-recipes ">
                <div class="form-title text-center m-3 align-items-center justify-content-center">
                    <h2>Added Recipes</h2>
                </div>

                {% for recipe in profile.user.recipe_owner.all %}
                <a href="{%url 'recipe_detail' recipe.slug %}"><h3>{{recipe.name}}</h3></a>
                {{recipe.posted_date}}
                <hr>
                {% endfor %}
            </div>

            <div class="profile-bookmarks">
                <div class="form-title text-center m-3 align-items-center justify-content-center">
                    <h2>Bookmarked Recipes</h2>
                </div>
                {% if bookmarked_recipes %}
                <ul>
                       {% for recipe_name, recipe_slug in bookmarked_recipes %}
                            <li><a href="{% url 'recipe_detail' recipe_slug %}">{{ recipe_name }}</a></li>
                        {% endfor %}
                        <hr>
                </ul>
                 {% else %}
                <p>No bookmarked recipes.</p>
                {% endif %}
            </div>
        </div>
    </div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="edit-profile" tabindex="-1" aria-labelledby="EditProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="editProfile-modal-body d-flex justify-content-center">

          <form action="{% url 'edit_profile' request.user.id %}" method="Post" enctype="multipart/form-data">
              {% csrf_token %}
              {{profile_form |crispy }}
              {{profile_form.media}}
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}