{% extends 'base.html'%}
{% block title %} Add Recipe{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" class="form p-2">

        <div class="form-title text-center p-4 justify-content-center">
            <h1>Add Recipe</h1>
        </div>
        {% csrf_token %}
        {{ form.media }}
        {{ form |crispy }}
        <div class="text-center mb-5">
            <button type="submit" class="btn btn-primary mt-2">Create Recipe</button>
        </div>
    </form>
</div>
{% endblock %}