{% load static %}
    <div class="form-title text-center p-4 justify-content-center">
            <h1>Latest Recipes</h1>
    </div>
    <div class=" d-flex flex-row flex-wrap justify-content-center">
        <div class="card-group">
        {% for recipe in recipe_list %}
<!--        <a href="" class="recipes" aria-label="Click to view {{recipe.title}}"></a>-->

            <div class="card recipe-card m-4">
                  <img src="{{recipe.image.url}}" class="card-img-top" alt="{{recipe.image_alt}}">
                <div class="card-body">
                    <h3 class="card-title">{{recipe.name}}</h3>
                    <p>
                        {% if recipe.user.profile.photo %}
                            <img src="{{ recipe.user.profile.photo.url }}" class="rounded-circle avatar" alt="{{ recipe.user.username }} Profile Photo">
                        {% else %}
                            <img src="{% static 'images/zaitouna_icon.svg' %}" class="rounded-circle avatar" alt="Default Profile Photo">
                        {% endif %}
                        {{ recipe.user.username }} | <i class="fa-solid fa-clock"></i> {{recipe.posted_date}}
                    </p>
                    <span class="badge rounded-pill bg-success">{{recipe.meal_type}}</span>
                    <span class="badge rounded-pill bg-success">cook time :{{recipe.cooking_time}}</span>
                    <span class="badge rounded-pill bg-success">serves :{{recipe.serves}}</span>
                    <p class="card-text py-3">{{recipe.description}}</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="#"  aria-label="Click to view {{recipe.title}}" class="btn btn-primary ">more</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>