{% extends 'base.html' %}
{%block title %}Recipe Detail - {{recipe.name}}{% endblock%}
{% load static %}
{% load social_share %}
{% load crispy_forms_tags %}
{%block content %}
<div class="container">
  <!-- Title Section -->
  <div class="row mt-5">
    <div class="col-12 col-sm-9">
      <h1>{{recipe.name}}</h1>
    </div>


    <div class="col-12 col-sm-3 text-end tools">
    {% if request.user == recipe.user %}
      <a href="{% url 'edit_recipe' recipe.slug %}" class="edit-icon me-3"><i class="fa-regular fa-pen-to-square"></i></a>
      <a href="{% url 'delete_recipe' recipe.slug %}" class="delete-icon me-3"><i class="fa-regular fa-trash-can"></i></a>
    {% endif %}
      <a href="#" class="share-icon me-3" data-bs-toggle="modal" data-bs-target="#social-media-share"><i class="fa-regular fa-share-from-square"></i></a>
      {% if is_bookmarked %}
      <a href="{% url 'remove_bookmark' recipe.slug %}" class="bookmark-icon me-3"><i class="fas fa-bookmark"></i></a>
      {% else %}
      <a href="{% url 'bookmark_recipe' recipe.slug %}" class="bookmark-icon me-3"><i class="far fa-bookmark"></i></a>
      {% endif %}
    </div>
  </div>

  <!-- Info Section -->
  <div class="d-flex flex-wrap recipe-info">
      <div class="my-2 mx-4">
        {% if recipe.user.profile.photo %}
            <img src="{{ recipe.user.profile.photo.url }}" class="rounded-circle avatar" alt="{{ recipe.user.username }} Profile Photo">
        {% else %}
            <img src="{% static 'images/zaitouna_icon.svg' %}" class="rounded-circle avatar" alt="Default Profile Photo">
        {% endif %}
        <small class="pl-1">{{recipe.user}}</small>
      </div>
      <div class="my-2 mx-4 tools">
        <i class="far fa-calendar-alt"></i>
        <small>{{recipe.posted_date}}</small>
      </div>
      <div class="my-2 mx-4 tools">
        <i class="fa-regular fa-comment"></i>
        <small>{{ comment_count }}</small>
      </div>
      <div class="my-2 mx-4 tools">
          <form id="rating-form" method="POST" action="{% url 'rate_recipe' recipe.id %}">
              {% csrf_token %}

              <input type="hidden" id="rating-value" name="rating" value="0">
                {% for i in star_range %}
                    {% if i <= average_rating %}
                        <i class="star fas fa-star" data-rating="{{i}}"></i>  <!-- Filled star -->
                    {% else %}
                        <i class="star far fa-star" data-rating="{{i}}"></i>
                    {% endif %}
                {% endfor %}
              <span data-average="{% if average_rating is None %}0{% else %}{{ average_rating }}{% endif %}">
                <small>{{rating_count}} </small></span>
          </form>
      </div>

  </div>
  <!-- Description Section -->
  <div class="row mt-3 recipe-desc">
    <div class="col">
      <p>{{recipe.description}}</p>
    </div>
  </div>

  <!-- Recipe Photo -->
  <div class="row mt-3">
    <div class="col">
      <img src="{{recipe.image.url}}" class="img-fluid recipe-img" alt="{{recipe.image_alt}}">
    </div>
  </div>

  <!-- Recipe Instructions and Details -->
  <div class="row mt-3">
    <!-- Instructions -->
    <div class="col-md-9">
      <h2>Ingredients</h2>
      {{recipe.ingredients | safe }}
      <!-- More Steps -->
    </div>
    <!-- Recipe Details -->
    <div class="col-md-3">
      <h2>Details</h2>
      <ul class="list-unstyled ">
        <li class="tools">
          <small><i class="fa-solid fa-wine-glass-empty"></i> Meal Type</small>
          <span><strong>{{recipe.meal_type}} </strong></span>
        </li>
        <li class="tools">
          <small><i class="far fa-clock"></i> Cook Time</small>
          <span><strong>{{recipe.prep_time}} min</strong></span>
        </li>
        <li class="tools">
          <small><i class="fa-solid fa-scale-unbalanced-flip"></i> Difficulty</small>
          <span><strong>{{recipe.difficulty}}</strong> </span>
        </li>
        <li class="tools">
          <small><i class="fa-solid fa-bell-concierge"></i> Serves</small>
          <span><strong>{{recipe.serves}} People</strong></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3">
    <h2>Instructions</h2>
      {{recipe.instructions | safe }}
  </div>




<!--  Comments -->
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment-title{{ comment.id }}">
            {{ comment.title  }}
          </div>
          <div id="comment-body{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <button class="btn btn-edit" comment_id="{{ comment.id }}">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="btn btn-delete" comment_id="{{ comment.id }}"><i class="fa-regular fa-trash-can"></i>
          </button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post"
          style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- Modals -->
<!-- Social Media share Modal -->
<div class="modal fade" id="social-media-share" tabindex="-1" aria-labelledby="socialMediaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share it Now</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     <p class="text-center p-3"> Tell you friends about the Recipe</p>
      <div class="social-modal-body d-flex justify-content-center">

        {% post_to_facebook object_or_url "<i class='fa-brands fa-facebook m-3'></i>" %}
        {% post_to_twitter "New Song: {{object.title}}. Check it out!" object_or_url "<i class='fa-brands fa-square-twitter m-3'></i>" %}
        {% send_email object.title "Look at this recipe: {{object.name}}. Check it out!" object_or_url "<i class='fa-solid fa-envelope m-3'></i>" %}
        {% copy_to_clipboard object_or_url "<i class='fa-solid fa-clipboard m-3'></i>" %}
        {% add_copy_script %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
