
{% extends 'base.html' %}
{%block title %}Recipes{% endblock%}
{% load static %}
{%block content %}

<div class="container">
    <form class="d-flex" role="search" method="get" action="{% url 'recipes' %}">
        <input type="search" name="q" class="form-control me-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <div class="form-title text-center p-4 justify-content-center">
            <h1>Latest Recipes</h1>
    </div>
    <div class=" d-flex flex-row flex-wrap justify-content-center">
    {% for recipe in recipes %}
    <a href="{% url 'recipe_detail' recipe.slug %}" class="recipes" aria-label="Click to view {{recipe.title}}"></a>

        <div class="card w-75 m-3">
          <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-5">
              <img src="{{recipe.image.url}}" class="img-fluid rounded-start" alt="{{recipe.image_alt}}">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h2 class="card-title">{{recipe.name}}</h2>
                    <p>
                        {% if recipe.user.profile.photo %}
                            <img src="{{ recipe.user.profile.photo.url }}" class="rounded-circle avatar" alt="{{ recipe.user.username }} Profile Photo">
                        {% else %}
                            <img src="{% static 'images/zaitouna_icon.svg' %}" class="rounded-circle avatar" alt="Default Profile Photo">
                        {% endif %}
                        {{ recipe.user.username }} | <i class="fa-solid fa-clock"></i> {{recipe.posted_date}}
                    </p>
                    <span class="badge rounded-pill bg-success">{{recipe.meal_type}}</span>
                    <span class="badge rounded-pill bg-success">cook time :{{recipe.cooking_time}}</span>
                    <span class="badge rounded-pill bg-success">serves :{{recipe.serves}}</span>
                <p class="card-text py-3">{{recipe.description}}</p>
                <p class="card-text">
                    <small class="text-muted">
                      <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-accent" aria-label="Click to view {{weekly_recipe.name}}">
                        Discover more <i class="fa-solid fa-arrow-right-from-bracket"></i>
                      </a></small>
                </p>

              </div>
            </div>
          </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock%}