{% load static %}
    <div class="form-title text-center p-4 justify-content-center">
            <h1>Latest Recipes</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
<!--        <div class="card-group">-->
        {% for recipe in recipe_list %}
<!--        <a href="" class="recipes" aria-label="Click to view {{recipe.title}}"></a>-->

        <div class="card-group">
<!--            <div class="col">-->
                <div class="card recipe-card">
                      <a href="{% url 'recipe_detail' recipe.slug %}"  aria-label="Click to view {{recipe.title}}">
                          <img src="{{recipe.image.url}}" class="card-img-top" alt="{{recipe.image_alt}}">
                      </a>
                    <div class="card-body">
                        <h3 class="card-title">{{recipe.name}}</h3>
                        <p class="card-author">
                            {% if recipe.user.profile.image.url is not none %}
                                <a href="{% url 'profile' recipe.user.profile.id %}" aria-label="Click to view user profile {{recipe.user.username}}">
                                <img src="{{ recipe.user.profile.image.url }}" class="rounded-circle avatar" alt="{{ recipe.user.username }} Profile Photo">
                                </a>
                            {% else %}
                                <img src="{% static 'images/zaitouna_icon.svg' %}" class="rounded-circle avatar" alt="Default Profile Photo">
                            {% endif %}
                            {{ recipe.user.username }} | <i class="far fa-calendar-alt"></i> {{recipe.posted_date}}
                        </p>
                        <span class="badge rounded-pill bg-success">{{recipe.meal_type}}</span>
                        <span class="badge rounded-pill bg-success">{{recipe.get_difficulty_display}}</span>
                        <span class="badge rounded-pill bg-success">cook time : {{recipe.prep_time}} min</span>
                        <span class="badge rounded-pill bg-success">serves :{{recipe.serves}}</span>
                        <p class="card-text py-3">{{recipe.description}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a href="{% url 'recipe_detail' recipe.slug %}"  aria-label="Click to view {{recipe.title}}" class="btn btn-primary ">Learn More</a>
                        <span>
                        {% for i in star_range %}
                            {% if i <= recipe.average_rating %}
                                <i class="star fas fa-star"></i>  <!-- Filled star -->
                            {% else %}
                                <i class="star far fa-star"></i>  <!-- Empty star -->
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
<!--                </div>-->
            </div>
        </div>
        {% endfor %}
<!--        </div>-->

    </div>
    <!-- Pagination controls -->

    <div class="my-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if recipe_list.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo; First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ recipe_list.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">&laquo; First</span>
              </li>
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% for num in recipe_list.paginator.page_range %}
              {% if num == recipe_list.number %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ num }}</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if recipe_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ recipe_list.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ recipe_list.paginator.num_pages }}">Last &raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
              <li class="page-item disabled">
                <span class="page-link">Last &raquo;</span>
              </li>
            {% endif %}
          </ul>
        </nav>
    </div>