{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Signup" %}
{% endblock title %}

{% block content%}
<div class="container py-5">
    <div class="card">
        <div class="row g-0  justify-content-center">
            <div class="col-md-7 p-4">
                <div class="row justify-content-center form-title p-4">
                    <h1>{% trans "Sign Up" %}</h1>
                </div>
                <p class="text-center">
                    {% blocktrans %} Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                </p>
                {% url 'account_signup' as action_url %}
                <form class="form p-2" method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form| crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{% trans 'Sign Up' %}</button>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-5 form-side d-flex flex-column justify-content-center p-5">
                <h4 class="mb-4" style="color:#fad02d">We Are more than a Website!</h4>
                <p class="small mb-0">At Zaitouna Recipes, we're more than just a website. We're a vibrant community 
                    of food enthusiasts, united by our passion for authentic flavors and culinary adventures.
                     With our diverse collection of recipes, cooking tips, and engaging content, we strive to inspire and 
                     empower you to explore the rich and flavorful world of Oriental cuisine
                     Join us on this delicious journey and discover the joy of cooking and sharing meals with loved ones. 
                     Together, let's savor every moment and create unforgettable culinary experiences!</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}


{% comment %} {% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %} {% endcomment %}
