{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Meta tag to search Engine Optimization -->
    <meta name="language" content="english">
    <meta name="description" content="Explore the rich and flavorful world of Oriental cuisine with Zaitouna Recipes. Discover authentic recipes, cooking tips, and culinary traditions from the Middle East, Asia, and beyond. Save your favorites, interact with the community, and contribute your own recipes.">
    <meta name="keywords" content="Zaitouna Recipes,oriental cuisine, middle eastern recipes, asian dishes, oriental cooking, culinary traditions, oriental food, recipes, cooking, culinary, food, cuisine, meal, ingredients, cooking instructions, community, food lovers, arabic cook, Oriental cuisine">
    <meta name="title" content="Zaitouna Recipes - Authentic Oriental Cuisine">
    <meta name="author" content="Raneem Yad">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/icons/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon-16x16.png' %}">
    <link rel="icon" href="{% static '/icons/favicon.ico' %}" type="image/x-icon">
    <title>Zaitouna Recipes - {% block title %} {% endblock %}</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/008ae79857.js" crossorigin="anonymous"></script>
    <!--    style files-->
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% endblock %}

</head>
<body>
{% include 'includes/header.html' %}
<main>{% block content %}{% endblock content %}</main>
{% include 'includes/footer.html' %}

<!--scripts -->
{% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
</body>
</html>